<div class="container">
  <div class="row">
    <div class="col-xs-12">


      <h3>I'm in the AppComponent</h3>
      <hr>
      <app-servers></app-servers>
      <router-outlet></router-outlet>

      <h1>Bootstrap In Angular Using NPM Package Manager</h1>
      <br>
      <br>
      <span class="badge rounded-pill bg-primary">Primary</span>
      <span class="badge rounded-pill bg-secondary">Secondary</span>
      <span class="badge rounded-pill bg-success">Success</span>
      <span class="badge rounded-pill bg-danger">Danger</span>
      <span class="badge rounded-pill bg-warning text-dark">Warning</span>
      <span class="badge rounded-pill bg-info text-dark">Info</span>
      <span class="badge rounded-pill bg-light text-dark">Light</span>
      <span class="badge rounded-pill bg-dark">Dark</span>



    </div>
  </div>
</div>
